//
// custom google form
//----------
@import "compass/css3";
@font-face {
  font-family: Raleway;
  src: url('../fonts/raleway_thin.otf') format("opentype");
  
}

$black-bg : rgba(0,0,0,0.8);


html{
    width: 100%;
    height: 100%;
}
body{
    padding: 0;
    padding-bottom: 100px;
    width: 100%;
    font-family: Raleway;
    background: url(../img/mask.jpg) no-repeat fixed;
    background-size: cover;
    overflow-x: hidden;
}
.logo {
    text-align: center;
}
input {
    padding: 5px 10px;
    outline: none;
    border-radius: 5px;
}
#ss-submit {
    background: rgba(0,0,0,0.6);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #fff;
    color: #fff;
    font-family: inherit;
    &:hover {
        background: #fff;
        color: #000;
        @include transition(all .15s ease-in);
    }
}
.ss-form-container {
    font-family: Raleway;
    background: #000;
    background: $black-bg;
    border: none;
    color: white;
}
.thanks {
    position: relative;
    margin: 0 auto;
    padding: 1em;
    width: 45em;
    background: $black-bg;
    color: #fff;

}


